body > div.container {
    display: none;
    &.active {
        display: block;
    }
}

ul.nav a {
    outline: 0;
}

@padding: 0.5em;
#console_container {
    >div {
        border-bottom: 1px solid #ccc;
        padding-bottom: @padding;
        padding-top: @padding;
        padding-left: @padding;

        &.success {
            background-color: #4cae4c;
        }
        &.error {
            background-color: #c94a4a;
            color: #ffffff;
        }
    }
    >div:last-child {
        border-bottom: transparent;
    }
}

#tasks_info {
    &.tasks > p {
        padding: 1em;
        span {
            display: inline-block;
            padding: 0 @padding/2 0 @padding/2;
            margin-left: @padding;
        }
        &.success {
            background-color: #67b168;
            color: #ffffff;
        }
        &.failure {
            background-color: #d73131;
            color: #ffffff;
        }
    }
}

#error_modal {
    .modal-content {
        border: none;
        .modal-body {
            padding: 0;
        }
    }
}
