doctype html
html
  head
    title= "RabbitMQ Local Test"
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, target-densitydpi=medium-dpi')
    include partials_js
    include partials_css
  body
    nav.navbar.navbar-inverse(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') RabbitMQ test
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active(ref='common')
              a(href='#') Common
            li(ref='console')
              a(href='#') Console
    .container.active#celery(ref='common')
      .row
          form.form-horizontal(role="form", action='#')
            .form-group
              label.col-sm-2.control-label Task
              .col-sm-10
                select.form-control#tasks
                  option(value="time") Task.time
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-default#createTaskBtn Create
      .row
        .tasks#tasks_info
    .container#console(ref='console')
      .container-fluid
        .row
          .console.col-md-12#console_container
