script(src='components/jquery/dist/jquery.js')
script(src='components/bootstrap/dist/js/bootstrap.min.js')
script(src='components/sockjs/sockjs.js')
script(src='components/stomp-websocket/lib/stomp.js')
script(src='components/node-uuid/uuid.js')
script(src='jss/index.js')
script(src='jss/TaskMessage.js')
script(src='jss/ui.js')
script(src='jss/QueueManager.js')
